@import url('main.css'); @import url('animations.css');

#about{
    margin:auto;
    overflow: clip;
    min-height: 720px; max-height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#photo{
    overflow: clip;
    max-width: 450px;
    display: flex;
    clip-path: circle(50%);
}
#photo img{
    max-width: 100%;
}
#frame{
    max-width: 100%;
    clip-path: circle(50%);
    animation: rotation 500s linear infinite;
}
#gui{
    max-width: 100%;
    transform: translateX(-100%);
}
#presentation{
    max-width: 500px;
    padding: 20px;
    flex-flow: column;
}
#about h1{
    color: var(--eletricLime);
    font-family: 'Metana';
    font-size: 30px;
    line-height: 1;
    padding: 20px;
   
}
#about p{
    padding: 20px;
    max-width: 450px;
    text-align: justify;
}

@media (max-width:600px) {
    #about{
        flex-direction: column;
        margin: 70px auto;
    }
    #photo{
        overflow: clip;
        max-width: 450px;
        display: flex;
        clip-path: circle(50%);
    }

    #about h1{
        font-size: 1.3rem;
        line-height: 1.5;
    }

}