@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700;800&display=swap');
@import url('menu.css');
@import url('galleries.css');
@import url('animations.css');

@font-face {
    font-family: 'Metana';
    src: url(../fonts/NeueMetanaNext-SemiBold.otf);
    scroll-behavior: smooth;
}

*{
    font-family:'Sora', 'sans-serif';    
    margin: 0;
    padding: 0; 
    --darkBlack: #0F0F0F;
    --almostWhite: #E6E6E6;
    --eletricLime: #c8f500;
    color: var(--almostWhite);
}

body{  
    background-color: var(--darkBlack);  
}
main{
    max-width: 900px;
    margin: auto;
}
#home{
    display: flex;
    height: 720px;
}

#bgLogo{
    max-width: 500px;
    position: absolute;
    top: 0;     right: 0;
    bottom: 0;  left:0;
    margin:auto;

    fill: none;
    stroke-width: 0.1px;
    stroke: white;
    animation: rotation 300s linear infinite;
}

#headLine{
    position: absolute;
    top: 50%;     right: 0;
    bottom: 50%;  left:0;

    text-align: center;
    margin: auto;
    max-width: 500px;
    font-family: 'Metana';
    line-height: 1.27em;
    color: var(--eletricLime);
}


footer{
    align-items: center;
    bottom: 0;
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--darkBlack);
    padding: 15px;
    background-color: var(--eletricLime);
}