@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700;800&display=swap');
@import url('menu.css');
@import url('galleries.css');
@import url('animations.css');

@font-face {
    font-family: 'Metana';
    src: url(../fonts/NeueMetanaNext-SemiBold.otf);
}

*{
    font-family:'Sora', 'sans-serif';
    line-height: 1.27;
    
    margin: 0;
    padding: 0;
    
    --darkBlack: #0F0F0F;
    --almostWhite: #E6E6E6;
    --eletricLime: #c8f500;

    color: var(--almostWhite);
}

header{
    height: 720px;
    overflow: clip;
    display: flex;
    position: relative;
}
#headLine{
    margin: auto;
    max-width: 500px;
    font-family: 'Metana';
    line-height: 1.27em;
    color: var(--eletricLime);
}
header svg {
    position: absolute;
    top: 0;     bottom: 0;
    left: 0;    right: 0;
    margin: auto;

    max-width: 500px;
    
    stroke: var(--almostWhite);
    stroke-width: 0.2;
    animation: rotation 240s linear infinite;
    fill: transparent;
}
body{
    
    text-align: center;
    line-height: 100px;
    background-color: var(--darkBlack);
    
}
footer{
    align-items: center;
    bottom: 0;
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--darkBlack);
    padding: 15px;
    background-color: var(--eletricLime);
}