@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700;800&display=swap');
@import url('menu.css'); @import url('portfolio.css'); @import url('animations.css');
@import url('home.css'); @import url('about.css');

@font-face {font-family: 'Metana';  src: url(../fonts/NeueMetanaNext-SemiBold.otf); scroll-behavior: smooth;}

*{
    --darkBlack: #0F0F0F;
    --almostWhite: #E6E6E6;
    --eletricLime: #c8f500;
    font-family:'Sora', 'sans-serif';
    color: var(--almostWhite);
    margin: 0;    padding: 0;
    scroll-behavior: smooth;
}
body{  
    background-color: var(--darkBlack);
    margin: auto; 
}
main{
    max-width: 900px;
    margin: auto; 
}
.testmonial{
    width: 350px;
    border: 1px solid white;
    border-radius: 5px;
}

footer{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    bottom: 0;
    font-size: 1rem;
    font-weight: 600;
    color: var(--darkBlack);
    padding: 10px;
    background-color: var(--eletricLime);
}  
#social-links{
    color: var(--darkBlack);
    width: 250px;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}#social-links p{ font-size: 1rem;}

footer p{
    color: #0F0F0F;
    margin: 5px;
}
footer img{
    align-items: baseline;
    width: 1.5rem;
}